{
    "presets": ["babel-preset-gatsby"],
    "plugins": [
      [
        "prismjs",
        {
          "languages": [
            "javascript",
            "css",
            "java",
            "typescript",
            "go",
            "shellsession",
            "json",
            "graphql",
            "jsx"
          ],
          "plugins": ["show-language"],
          "theme": "tomorrow",
          "css": true
        }
      ],
      [
        "babel-plugin-styled-components"
      ]
    ]
  }